html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #006e3c;
}
a {
    text-decoration: none;
}

.main {
    height: 85%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.header {
    font-size: 60px; 
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    display: flex;
    justify-content:space-around;
}

.header {
    display: flex;
    justify-content:center;
    text-shadow: 10px 8px 6px #95BA40;
}

.navbar {
    display: flex;
    justify-content:space-around;
    margin: 30px;
    font-size:20px;
}

.thumbnail-image {
    width: 300px;
}
.gallery { 
    display: flex;
    justify-content: space-between;
}

#main-photo {
    width: 50%;
}
.aboutMain {
    display: flex;
}

.leftPane {
    width: 50%;
}

.rightPane {
    width: 50%;
}

#about-photo {
    width: 85%;
    border-width: 10px;
    border-color: #95BA40;
    border-style: solid;
}

#aboutP {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
}


.content {
    padding: 20px;
}
p, #aboutP, h1 {
    color:#95BA40;
}